$gradient-font-color: linear-gradient(to right, darkorange, #81d02f, darkorange, #ee4c4c);
$gradient-font-color-reversed: linear-gradient(to right, #ee4c4c, darkorange, #81d02f, darkorange);

.atures-font {
  font-family: "AturesBold";
  font-size: 2rem;
  line-height: 2rem;

  color: transparent;
  -webkit-background-clip: text;
  background-size: 150% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  background-image: $gradient-font-color;
  &:hover {
    background-position: 0 100%;
    color: transparent;
  }
}

.logout {
  font-size: 2rem;
  line-height: 2rem;

  color: darkorange;
  -webkit-background-clip: text;
  background-size: 150% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  background-image: $gradient-font-color-reversed;
  &:hover {
    background-position: 0 100%;
    color: transparent;
  }
}


nav {
  border-bottom: solid 1.7px rgba(255, 106, 0, 0.85);

}

.card {
  border-radius: 10px 35px 10px 35px;
  border: 3px solid #04DAF6;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.invalid-feedback {
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
  color: #fff;
  font-size: .875rem;
  margin-top: 0.1rem;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  position: absolute;
  top: 100%;
  z-index: 5;
}

#wallpaper:after {
  content: "";
  background-image: url("../assets/gates1.png");
  background-size: 100% 100%;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#fading {
  background: rgba(9, 8, 7, 0.7);
}

#channel {
  font-size: 1.2rem;
  color: black;

  border: 2px solid rgba(238, 133, 76, 0.65);
  border-radius: 5px 10px 5px 10px;
}

.add-channel {
  font-size: 1.2rem;
  font-weight: normal;
  color: black;

  border: 1px solid black;
  border-radius: 5px;

  &:hover {
    background: linear-gradient(45deg, rgba(255, 98, 0, 0.61), rgba(239, 219, 7, 0.87));
    background-size: 400% 450%;
  }
}

#sendMessageButton {
  border: 1px solid transparent;
}

.dropdown {
  border: 1px solid transparent;
}

.dropdown-toggle {
  color: black;

  &:hover {
    color: deeppink;
  }
  &:focus {
    color: deeppink;
  }
}

.btn {
  font-size: 1.2rem;

  padding-left: 12px;
  padding-right: 12px;
}

.modal-btn-submit {
  background: rgba(4, 218, 246, 0.56);
  border: 1px solid dodgerblue;

  &:hover {
    background: rgba(4, 218, 246, 0.96);
  }
}

.modal-btn-cancel {
  background: rgba(255, 20, 83, 0.56);
  border: 1px solid red;

  &:hover {
    background: rgba(255, 20, 83, 0.8);
  }
}

.modal-content {
  border: 1px solid black;
  border-radius: 10px 5px 10px 5px;
}

.btn-primary {
  background: transparent;
  border: none;

  &:hover {
    background: transparent;
  }
  &:enabled {
    background: transparent;
  }
}

.activeChannel {
  color: black;
  border-color: #0e7563;
  background: linear-gradient(45deg, rgba(28, 145, 96, 0.57), rgba(239, 219, 7, 0.62), rgba(255, 98, 0, 0.61));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: auto;
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.Toastify__toast {
  .Toastify__toast-body {
    color: black;
  }
}

